.shape {
  position: absolute;
}

.circle {
  animation: pulsate 3s infinite;
  height: 93px;
  width: 93px;
  background-color: #FFEECF;
  top: 30%;
  left: 30%;
  border-radius: 100%;
}

.circle:nth-of-type(1) {
  left: 5%;
  top: 20%;
}

.circle:nth-of-type(2) {
  left: 20%;
  top: 5%;
}

.circle:nth-of-type(3) {
  left: 20%;
  top: 50%;
}

.circle:nth-of-type(4) {
  left: 4%;
  top: 80%;
}

.circle:nth-of-type(5) {
  left: 70%;
  top: 5%;
}

.circle:nth-of-type(6) {
  left: 75%;
  top: 55%;
}

.circle:nth-of-type(7) {
  left: 85%;
  top: 30%;
}

.circle:nth-of-type(8) {
  left: 80%;
  top: 80%;
}

.squiggle {
  width: 303px;
  height: 63px;
  background-image: url(squiggle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.squiggle:nth-of-type(1) {
  left: 5%;
  top: 2%;
}

.squiggle:nth-of-type(2) {
  left: 8%;
  top: 25%;
}

.squiggle:nth-of-type(3) {
  left: 3%;
  top: 60%;
}

.squiggle:nth-of-type(4) {
  left: 10%;
  top: 90%;
}

.squiggle:nth-of-type(5) {
  right: 10%;
  top: 7%;
}

.squiggle:nth-of-type(6) {
  right: 2%;
  top: 35%;
}

.squiggle:nth-of-type(7) {
  right: 9%;
  top: 60%;
}

.squiggle:nth-of-type(8) {
  right: 0%;
  bottom: 5%;
}











