@media (min-width: 640px) {

  .shape,
  .lineup li,
  .date {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .in-viewport .shape,
  .in-viewport .lineup li,
  .in-viewport .date {
    opacity: 1;
  }
  
}