html {
    width:100%;
    height: 100%;
}

body { 
    background-color: black;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    position: absolute;
    top: 33%;
}

.title {
    font-family: Montserrat;
    font-weight: 800;
    text-align: center;
    color: transparent;
    font-size: 100px;
    background: url("https://specials-images.forbesimg.com/dam/imageserve/765877054/960x0.jpg?fit=scale") repeat;
    background-position: 40% 50%;
    -webkit-background-clip: text;
    line-height: 0.8;
}

.subtitle {
    color: rgb(150,150,150);
    text-align: center;
    margin-top: 25px;
    text-transform: uppercase;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 100;
    font-size: 12px;
    
}